<ul>
  <li><%= pluralize(@urls.size, "url") %></li>
  <li><%= @urls.size - @real_urls.size %> were ignored</li>
  <li><%= @new_urls.size %> are new</li>
</ul>
<% @new_urls.each_with_index do |url, i| -%>
  <div id="shirt_<%= i %>">
    <%= link_to_remote(url.sub(@merchant.homepage_url, ""),
      :url => { :action => "fetch_shirt_info", :merchant_id => @merchant.id, :url => url, :i => i }) %>
    <%= link_to_remote("ignore", :url => { :action => "ignore_url", :url => url, :i => i },
      :confirm => %[Are you sure you want to ignore "#{url}"?]) %>
  </div>
<% end -%>
