<div class="pic">
  <div class="picture" style="background:url(<%=h shirt.image.public_filename(:thumb) %>) top center no-repeat;" alt="<%=h shirt.text %>">
    <div class="tee_overlay" style="display: none;">
      <div class="tee_overlay_content">
        <div class="thumbs">
          <a href="<%= shirt_votes_path(shirt) %>" class="<%= vote_class(:up, shirt) %>" rel="nofollow"><img src="/images/thumbs_up.png" /></a>
          <a href="<%= shirt_votes_path(shirt) %>" class="<%= vote_class(:down, shirt) %>" rel="nofollow"><img src="/images/thumbs_down.png" /></a>
        </div>
        <a href="<%=h shirt.merchant_url %>" class="merchant"><%=h shirt.merchant.name %></a>
      <% if params[:action] == "fresh" %>
        <div class="added_time">added <%= time_ago_in_words shirt.created_at %> ago</div>
      <% else %>
        <a href="<%=h shirt.merchant_url %>" class="price"><%= price_range(shirt.min_price, shirt.max_price) %></a>
      <% end %>
        <a href="<%= shirt_path(shirt, :anchor => "disqus_thread") %>" class="comment_count">View Comments</a>
      </div>  
    </div>
  </div>
</div>
