<div id="vote">
  <div style="overflow: hidden;">
    <div><img src="/images/who_should.jpg"></div>
  <% if params[:celeb] == "results" || (@celeb_vote.celebrity && params[:celeb] != "vote") %>
  <% for celebrity in @shirt.voted_celebrities %>
    <a href="#" class="celeb" style="float:left"><img src="<%= celebrity.image_path %>" /></a>
    <div class="vot">
      <strong style="color:#232020"><%= celebrity.name %></strong><br />
      <div class="yellow_bar"><%= pluralize(celebrity.votes, "vote") %></div>
    </div>
    <div style="clear:both; height:1px; "><!-- --></div>
  <% end %>
    <div class="alignCenter"><a href="<%= url_for :celeb => "vote" %>"><img src="/images/btn_vote.jpg" /></a></div>
  <% else %>
  <% for celebrity in Celebrity.all(:order => "RANDOM()") %>
    <div id="celebrity_<%= celebrity.id %>" class="celeb"><img src="<%= celebrity.image_path %>" alt="<%= celebrity.name %>" /></div>
  <% end %>
    <div style="clear:both; height:1px; "><!-- --></div>
    <div class="alignCenter">
      <% form_for([@shirt, @celeb_vote]) do |f| %>
        <%= f.hidden_field :celebrity_id %>
        <input type="image" src="/images/btn_vote.jpg" />
      <% end %>
      <a href="<%= url_for :vote => 'results' %>"><img src="/images/btn_view_results.jpg" /></a>
    </div>
  <% end %>
  </div>
</div>

<div id="full_pic">
  <img src="<%= @shirt.image.public_filename %>" />
</div>

<div id="shirt_header">
  "<%=h @shirt.name %>"<br />
  <a href="<%= @shirt.merchant_url %>">
    <%= price_range(@shirt.min_price, @shirt.max_price) %> from <%=h @shirt.merchant.name %>
  </a>
</div>
<div style="clear:both;">&nbsp;</div>
<% if @shirt.comments.empty? %>
  <p style="font-style: italic;">Nobody has commented on this shirt.  It must be really boring...</p>
<% end %>
<% for comment in @shirt.comments %>
  <div class="comment">
    <div class="user">
      <%= link_to_unless(comment.url.blank?, (comment.name.blank? ? content_tag(:strong, "A supsiciously secretive anonymous person") : comment.name), comment.url) %>,
      <%= time_ago_in_words comment.created_at %> ago
    </div>
    <div class="text">
      <%= simple_format comment.body %>
      <!-- <a href="#"><strong>reply</strong></a> -->
    </div>
  </div>
<% end %>
<br />
<div style="width:420px; margin:0 auto;">
  <div><img src="/images/post_a_comment.jpg" /></div>

  <% form_for([@shirt, @comment]) do |f| %>
    <table cellpadding="0" cellspacing="10">
      <tr>
        <td class="alignRight">Name:</td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td class="alignRight">Email:</td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td class="alignRight">Url:</td>
        <td><%= f.text_field :url %></td>
      </tr>
      <tr>
        <td colspan="2">
          <strong>Comment:</strong><br />
          <%= f.text_area :body %>
        </td>
      </tr>
      <tr><td colspan="2" class="alignCenter"><br /><input type="image" src="/images/btn_post.jpg" /></td></tr>
    </table>
  <% end %>
</div>