<div id="vote">
  <div style="overflow: hidden;">
    <div><img src="/images/who_should.jpg"></div>
  <% if params[:celeb] == "results" || (@celeb_vote.celebrity && params[:celeb] != "vote") %>
  <% for celebrity in @shirt.voted_celebrities(4) %>
    <div class="celeb" style="float:left"><img src="<%= celebrity.image_path %>" /></div>
    <div class="vot">
      <strong style="color:#232020"><%= celebrity.name %></strong><br />
      <div class="yellow_bar" style="width: <%= vote_bar_width celebrity.votes %>px;"><%= pluralize(celebrity.votes, "vote") %></div>
    </div>
    <div style="clear:both; height:1px; "><!-- --></div>
  <% end %>
    <div class="alignCenter"><a href="<%= url_for :celeb => "vote" %>"><img src="/images/btn_vote.jpg" /></a></div>
  <% else %>
  <% for celebrity in Celebrity.all(:order => "RANDOM()") %>
    <div id="celebrity_<%= celebrity.id %>" class="celeb"><img src="<%= celebrity.image_path %>" alt="<%= celebrity.name %>" /></div>
  <% end %>
    <div style="clear:both; height:1px; "><!-- --></div>
    <div class="alignCenter">
      <% form_for([@shirt, @celeb_vote]) do |f| %>
        <%= f.hidden_field :celebrity_id %>
        <input type="image" src="/images/btn_vote.jpg" />
      <% end %>
      <a href="<%= url_for :celeb => 'results' %>"><img src="/images/btn_view_results.jpg" /></a>
    </div>
  <% end %>
  </div>
</div>

<div id="full_pic">
  <img src="<%= @shirt.image.public_filename %>" />
</div>

<div id="shirt_header">
  "<%=h @shirt.name %>"<br />
  <a href="<%= @shirt.merchant_url %>">
    <%= price_range(@shirt.min_price, @shirt.max_price) %> from <%=h @shirt.merchant.name %>
  </a>
</div>
<div style="clear:both;">&nbsp;</div>
  <%= disqus_thread %>
</div>
